{% include base_path %}

<!-- <h1 class="page__title">{{ page.title }}</h1> -->

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<html>
<head>
<style>
p.small {
  line-height: 0.1;
}

p.big {
  line-height: 1.8;
}
</style>
</head>
<body>








<h2>  {{title}}  </h2>
<p class = "small">  {{post.venue}}  </p>
<p class = "small">  {{post.citation}}  </p>

{% if post.video %}

<a href="{{ post.video }}">
<img src="{{ post.thumbnail }}" style="width: 150px; height: 150px; background-color: red;">
</a> 
{% endif %}

</body>
</html>
