---
layout: default
---


{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <!-- {% unless page.header.overlay_color or page.header.overlay_image %} -->
      <h1 style="color:Orchid;">{{ page.title }}</h1>
      {% if page.description %}
      {{page.description}}
      {% endif %}
    {% endunless %}
    {{ content }}
  </div>
</div>